[Unit]
Description=Funstream service
After=network-online.target

[Service]
User=myuser
Group=myuser
ExecStart=/home/myuser/funstream -playlist /home/myuser/funstream.yml -bind 0.0.0.0:5555
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
